{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/animate/animate.css">
<link rel="stylesheet" href="/vendor/select2/select2.min.css">
<link rel="stylesheet" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="/css/admin-main.css">
<link rel="stylesheet" href="/css/admin-util.css">

<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="styles/cart.css">
<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">

{{/contentFor}}


<!-- Home -->

<div class="home">
	<div class="home_container">
		<div class="home_background" style="background-image:url(images/cart.jpg)"></div>
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="breadcrumbs">
								<ul>
									<li><a href="index">Home</a></li>
									<!-- <li><a href="categories">Categories</a></li> -->
									<li>Admin</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MAIN -->
    <main role="main">
      <article>

        <header class="section background-image text-center" style="background-image:url(img/img-05.jpg)">

        </header>

        <div class="line text-center">
          <h2 class="text-dark text-size-50 text-m-size-40"> USER <b> INFO </b></h2>
          <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>

        <!-- CREATE TABLE USERS (
            ID              INT  PRIMARY KEY,
            FNAME           VARCHAR(40) NOT NULL,
            LNAME           VARCHAR(40) NOT NULL,

            USERNAME        VARCHAR(40) NOT NULL,
            PASSWORD        VARCHAR(40) NOT NULL,

            DATE_OF_REGISTRATION        DATE,
            DATE_OF_LASTEST_LOGON       DATE
        ); -->
        <div class="limiter">
        		<div class="container-table100">
        			<div class="wrap-table100">
        				<div class="table100 ver1 m-b-110">
        					<div class="table100-head">
        						<table>
        							<thead>
        								<tr class="row100 head">
                          <th class="cell100 column2">ID</th>
        									<th class="cell100 column2">First name</th>
        									<th class="cell100 column2">Last name </th>
        									<th class="cell100 column3">Username</th>
                          <th class="cell100 column4">Password</th>
        									<!-- <th class="cell100 column4">Trainer</th>
        									<th class="cell100 column5">Spots</th> -->
        								</tr>
        							</thead>
        						</table>
        					</div>

        					<div class="table100-body js-pscroll">
        						<table>
        							<tbody>
                        {{#each users}}
        								<tr class="row100 body">
        									<td class="cell100 column2">{{id}}</td>
        									<td class="cell100 column2">{{fname}}</td>
        									<td class="cell100 column2">{{lname}}</td>
        									<td class="cell100 column3">{{username}}</td>
        									<td class="cell100 column4">{{password}}</td>
        								</tr>
                        {{/each}}
        							</tbody>
        						</table>
        					</div>
        				</div>

        				<div class="table100 ver2 m-b-110">
        					<div class="table100-head">
        						<table>
        							<thead>
        								<tr class="row100 head">
        									<th class="cell100 column1">Class name</th>
        									<th class="cell100 column2">Type</th>
        									<th class="cell100 column3">Hours</th>
        									<th class="cell100 column4">Trainer</th>
        									<th class="cell100 column5">Spots</th>
        								</tr>
        							</thead>
        						</table>
        					</div>

        					<div class="table100-body js-pscroll">
        						<table>
        							<tbody>
        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        				</div>

        				<div class="table100 ver3 m-b-110">
        					<div class="table100-head">
        						<table>
        							<thead>
        								<tr class="row100 head">
        									<th class="cell100 column1">Class name</th>
        									<th class="cell100 column2">Type</th>
        									<th class="cell100 column3">Hours</th>
        									<th class="cell100 column4">Trainer</th>
        									<th class="cell100 column5">Spots</th>
        								</tr>
        							</thead>
        						</table>
        					</div>

        					<div class="table100-body js-pscroll">
        						<table>
        							<tbody>
        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        				</div>

        				<div class="table100 ver4 m-b-110">
        					<div class="table100-head">
        						<table>
        							<thead>
        								<tr class="row100 head">
        									<th class="cell100 column1">Class name</th>
        									<th class="cell100 column2">Type</th>
        									<th class="cell100 column3">Hours</th>
        									<th class="cell100 column4">Trainer</th>
        									<th class="cell100 column5">Spots</th>
        								</tr>
        							</thead>
        						</table>
        					</div>

        					<div class="table100-body js-pscroll">
        						<table>
        							<tbody>
        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        				</div>

        				<div class="table100 ver5 m-b-110">
        					<div class="table100-head">
        						<table>
        							<thead>
        								<tr class="row100 head">
        									<th class="cell100 column1">Class name</th>
        									<th class="cell100 column2">Type</th>
        									<th class="cell100 column3">Hours</th>
        									<th class="cell100 column4">Trainer</th>
        									<th class="cell100 column5">Spots</th>
        								</tr>
        							</thead>
        						</table>
        					</div>

        					<div class="table100-body js-pscroll">
        						<table>
        							<tbody>
        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Like a butterfly</td>
        									<td class="cell100 column2">Boxing</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Mind & Body</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Adam Stewart</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Crit Cardio</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">9:00 AM - 10:00 AM</td>
        									<td class="cell100 column4">Aaron Chapman</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Wheel Pose Full Posture</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">7:00 AM - 8:30 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Playful Dancer's Flow</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Zumba Dance</td>
        									<td class="cell100 column2">Dance</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Cardio Blast</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">5:00 PM - 7:00 PM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Pilates Reformer</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">10</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Supple Spine and Shoulders</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">6:30 AM - 8:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">15</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Yoga for Divas</td>
        									<td class="cell100 column2">Yoga</td>
        									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
        									<td class="cell100 column4">Donna Wilson</td>
        									<td class="cell100 column5">20</td>
        								</tr>

        								<tr class="row100 body">
        									<td class="cell100 column1">Virtual Cycle</td>
        									<td class="cell100 column2">Gym</td>
        									<td class="cell100 column3">8:00 AM - 9:00 AM</td>
        									<td class="cell100 column4">Randy Porter</td>
        									<td class="cell100 column5">20</td>
        								</tr>
        							</tbody>
        						</table>
        					</div>
        				</div>
        			</div>
        		</div>
          </div>




      </article>

    </main>

{{#contentFor "pageScripts"}}

{{/contentFor}}
